/* General Style */

*
    :box-sizing border-box

p, h1, h2, h3, h4, h5, h6, a
    :margin 0
    :padding 0
    
html, body 
    :margin 0
    :padding 0

body
    background-color: #F2F2F2


// Variable

//  Colors    
    $defaultYellow: #DFAE17
    --defaultYellow: #DFAE17

// /Colors

// Fonts


@font-face 
  font-family: nunito
  src: url("../utils/fonts/Nunito/Nunito-SemiBold.ttf")

@font-face 
  font-family: speed
  src: url("../utils/fonts/barbatrick/barbatrick.ttf")

@font-face 
  font-family: speed2
  src: url("../utils/fonts/speed_grams/speed_grams.otf")

@font-face 
  font-family: speed3
  src: url("../utils/fonts/high_speed2/high_speed.ttf")

@font-face 
  font-family: speed4
  src: url("../utils/fonts/bad_coma/bad_coma.ttf")

@font-face 
  font-family: speed5
  src: url("../utils/fonts/cf_glitch_city/CFGlitchCity-Regular.ttf")


h1, h2, h3, h4, h5, h6
    font-family: circular
    color: var(--default_black)

p, span, h1, h2, h3, h4, h5, h6
    font-family: nunito

// /Fonts

// Scrobar Style

::-webkit-scrollbar
    background: transparent
    width: 4px
    height: 4px
  
::-webkit-scrollbar-thumb 
    /* background-color: #1ba01f53; */
    background-color: rgba(#DFAE17, 0.442)
    border-radius: 20px
  
::-webkit-scrollbar-thumb:hover 
    background-color: rgba(#DFAE17, 0.3)

// /Scrobar Style

// Input Elements

input, select, textarea

    &:focus
        outline: none

.input_div
    margin: 12px 0

    input, select, textarea
        width: 100%
        padding: 12px 15px
        background-color: transparent
        border: 2px solid #644b00
        border-radius: 6px

    textarea
        resize: none
        // margin: 20px 0

.submit_form_buttom
    width: 100%
    border: none
    background: #000
    height: 55px
    border-radius: 6px
    color: #DFAE17
    transition: background-color .5s, transform .3s
    cursor: pointer

    &:hover
        background-color: #161616
    
    &:active
        transform: translateY(4px)
    
    &:focus
        outline: none

.pickup_form_buttom
    margin: 40px auto 30px
    width: 50%
    border: none
    background: #DFAE17
    height: 55px
    border-radius: 6px
    color: #000
    transition: background-color .5s, transform .3s
    cursor: pointer

    &:hover
        background-color: #ac8309
    
    &:active
        transform: translateY(4px)
    
    &:focus
        outline: none

.close_form_buttom
    width: 100px
    border: none
    background: #000
    height: 45px
    border-radius: 6px
    color: #DFAE17
    transition: background-color .5s, transform .3s
    cursor: pointer

    &:hover
        background-color: #161616
    
    &:active
        transform: translateY(4px)
        background-color: #161616
    
    &:focus
        outline: none



// /Input Elements


/* Flex displays

/* Flex Rows */
        
.flex_r
    :display flex
    :flex-direction row

.flex_r_j_between
    :display flex
    flex-direction: row
    justify-content: space-between

.flex_r_j_center
    :display flex
    flex-direction: row
    justify-content: center

.flex_r_a_center
    :display flex
    flex-direction: row
    align-items: center

.flex_r_j_end_align_center
    :display flex
    flex-direction: row
    align-items: center
    justify-content: flex-end


.flex_r_j_between_align_center
    :display flex
    :flex-direction row
    :justify-content space-between
    :align-items center

.flex_r_j_start_align_center
    :display flex
    :flex-direction row
    :justify-content flex-start
    :align-items center

.flex_r_j_n_a_center
    :display flex
    :flex-direction row
    :justify-content center
    :align-items center

.flex_r_j_center_a_bottom
    :display flex
    :flex-direction row
    :justify-content center
    align-items: flex-end

        
/* /Flex Rows */

/* Flex Columns */

.flex_c
    :display flex
    :flex-direction column 

.flex_c_j_between
    :display flex
    :flex-direction column  
    justify-content: space-between 

.flex_c_j_center_a_bottom
    :display flex
    :flex-direction column
    :justify-content center
    align-items: flex-end


/* /Flex Columns */


/* End of Flex Displays

/* Site Widths

.full_row
    :width 100%
    :clear both

.site_center1
    :width 80%
    :margin 0 auto

/* End of Site widths

/* Buttons

// button
    :border none
    border-radius: 3px
    font-size: 14px
    line-height: 16px
    letter-spacing: 1.5px
    text-transform: uppercase
    padding:
        left: 30px
        right: 30px
    height: 44px
    color: #ffffff
    cursor: pointer
    transition: .5s

    &:focus
        :outline none
    
    &:active
        transform: translateY(5px)

    &.red_btn
        background-color: #EF4B4B

        &:hover
            background-color: #da2f2f       
            
    
    &.black_btn
        background-color: #303037

        &:hover
            background-color: #1b1b20

        

/* End of Buttons

/* End of General Style */

// StartOf --  Header Style
.site_header_section
    // position: relative
    height: 550px
    background: black
    overflow: hidden
    background-color: #000
    background: linear-gradient(#000000a4, #000000a4), url("../utils/images/q1.jpg")
    background: 
        position: top left
        size: 100% 100%
        repeat: no-repeat
        attachment: fixed       

    &>div
        // position: absolute
    
    .site_header_left_side
        // background-color: red
        padding: 40px 0 40px 40px
        // transform: skewX(-40deg)
        width: 70%
        height: 100%
        z-index: 1000000
        background: 
            repeat: no-repeat
            position: bottom center
        
        .logo_side
            height: 100%
            // background-color: green


    .site_header_right_side
        background-color: #DFAE17
        // transform: skewX(-40deg)
        width: 30%
        height: 100%
        padding-bottom: 30px
        clip-path: polygon(55% 0, 100% 0, 100% 100%, 0% 100%)

        i
            margin: 0 15px
            font-size: 30px
            cursor: pointer
            color: #000

.tracking_form_wrapper
    // transform: skewX(40deg)


.header_form
            :width 40%
            padding: 25px
            // height: 200px
            overflow: auto
            // border: 2px solid red
            border-radius: 5px
            box-shadow: 0 0 30px rgba(136, 119, 22, 0.527)
            
            transform: translateX(70%)
            z-index: 1000000
            background-color: #dfad17f8
            // mix-blend-mode:  

            .tracking_form_head

                margin-bottom: 40px

                h4
                    font-size: 20px
                    color: #000

.track
    
    input

        &::placeholder
            color: #000

.site_heder_center
    width: 90%
    margin-left: 10%
    // background-color: red
    // padding: 30px

.site_desc_n_form
    margin: 90px 0

.site_desc

    div
        h4
            color: #DFAE17
            font-size: 50px
            letter-spacing: 10px
            font-family: speed3
        
        &.first
            h4
                color: #fff
                font-family: speed2
                letter-spacing: 3px



// EndOf --  Header Style

// All Section General Styles

div[class*="site_section_"]
    padding: 100px 0

// End of -- All Section General Styles

// Section two styles

.site_section_two    
    background-color: #000

    .features_header
        color: #DFAE17

        h4
            font-size: 40px
            font-family: candara
            padding-bottom: 30px

.page_actions

    padding: 15px 20px
    border: 1px solid #DFAE17
    box-shadow: 0 0 12px rgba(223, 174, 23, 0.25)
    transition: .5s
    border-radius: 6px       
    margin: 0 20px   
    position: relative
    cursor: pointer

    &::after
        content: ""
        position: absolute
        width: 100%
        height: 0
        background-color: #DFAE17
        top: 0
        left: 0
        transition: .3s

    &:hover::after  
        height: 4px 

    .action_name
        padding: 10px 10px 10px 20px

    h4
        color: #DFAE17
        font-size: 18px
    
    p
        color: #363636
        font-size: 15px
        font-weight: 500



            
// End of Section Two Styles

// Start of Section Three Styles

.site_section_three
    background-color: #DFAE17


.map
    height: 360px
    margin-top: 15px
// End of Section Three Styles

// FAaq section

.site_section_four
    background-color: black

.faq_wrapper
    width: 50%
    margin: 0 auto
    overflow: auto
    // background-color: red

    .each_faq
        border-bottom: 1px solid #DFAE17
        padding: 5px 20px

        .faq_head
            padding: 15px 0 10px
            color: #DFAE17
            cursor: pointer

        .faq_answer
            color: #6d5304
            display: none
            padding: 0 0 20px

    
.faq_header
    padding-bottom: 45px
    color: #DFAE17

.contact_header
    padding-bottom: 45px
    color: #000000

    
    

// End of faq section

// Footer

.site_footer
    padding: 25px 50px
    background-color: #DFAE17

    .fooet_copyright
        font-size: 20px
        color: #000

    .footer_link
        margin-right: 30px

        div
            margin: 0 10px

            a
                color: #000
                font-family: nunito
                transition: .3s

                &:hover
                    color: #161616
                    text-decoration: none

                
    .footer_social

        i
            font-size: 26px
            cursor: pointer
            margin: 0 9px

// 

// Modals

// Request Pick Up

.modal
    z-index: 20000000

#requestPickUp, #getEstimate, #login, #signup

    input
        color: #dab247

    .modal-header, .modal-footer
        background-color: #DFAE17
        color: #000

        h4
            font-size: 18px
            margin-left: 15px

    .modal-body
        background-color: #0c0c0c
        color: #DFAE17

        .headd
            padding: 20px 0

        .req_pickup
            margin-bottom: 30px

.p_pickup
    span
        font-weight: 400
        margin-left: 10px
        font-size: 15px
        color: #b38601

.login_links
    padding-top: 30px

    div
        margin-left: 15px

        a
            color: #000000
            font-family: nunito
            transition: .3s

            &:hover
                color: #353535
                text-decoration: none
                letter-spacing: .5px

.signup_n_login_link

    a
        margin-left: 12px
        color: #DFAE17
        transition: .4s
        font-family: nunito

        &:hover            
            color: #b38601
            text-decoration: none

.modal-header
    border-bottom: none

.modal-footer
    border-top: none


// /Modals

// Dasboard Styles

.dashboard_side_nav
    width: 20%
    background-color: #000000
    height: 100vh
    float: left
    position: fixed
    transition: .5s
    overflow-x: hidden !important

    .dashboard_logo_div
        padding: 40px 0

.sideNav_link, .side_nav_footer
    transition: opacity .3s

    a
        border-left: 4px solid transparent
        display: block
        :padding 15px 10px 15px 20px
        color: #DFAE17
        transition: .4s
        font-family: nunito
        font-size: 20px

        &:hover
            // background-color: #111111
            border-left-color: #DFAE17
            text-decoration: none
            letter-spacing: .4px
            background-image: linear-gradient(to right, black, black, #dfad171a)
              
        i
            margin-right: 10px

.side_nav_footer
    border-top: .3px solid #DFAE17
    margin-top: 90px

.dashoard_body
    width: 80%
    float: left
    margin-left: 20%
    transition: .5s
    // background-color: #DFAE17
    // height: 100vh
            
.dashboard_header
    padding: 20px 15px
    // border-bottom: .6px solid #808080
    box-shadow: 0 10px 30px rgba(223, 173, 23, 0.286)
    background-color: #fff

.dashoard_body2
    width: 100%
    // background-color: #DFAE17
    height: calc( 100vh - 40px )

.dasboard_bodywrapper
    // padding: 40px
    // border: 2px solid red
    width: 95%
    display: grid
    grid-template-columns: auto auto auto
    grid-gap: 20px 20px

    &>a>div[class*='card_']
        padding: 50px 35px
        border-radius: 15px
        box-shadow: 0 0 16px rgba(0, 0, 0, 0.3)
        // border: 1px solid #DFAE17
        color: #858585
        transition: .7s
        cursor: pointer
        background-color: #000000
        text-decoration: none

        .card_middle
            margin: 35px 0

        .card_bottom

            img
                width: 100px
                height: 20px

        &:hover
            // box-shadow: 0 0 40px rgba(223, 173, 23, 0.568)
            background-color: #111
            transform: scale(1.03)
            
    &>a
        text-decoration: none

        &:hover
            text-decoration: none



.dashboard_actions
    border-radius: 9px
    box-shadow: 0 0 16px rgba(223, 173, 23, 0.397)
    background-color: #000000
    border: 1px solid #DFAE17
    margin-bottom: 30px
    margin-right: 50px 
    // padding: 30px

    .dashboard_actions_header
        border-radius: 9px 9px 0 0
        background-color: 
        padding: 30px

    .dashboard_actions_img
        width: 280px
        height: 160px

        img
            width: 100%
            height: 100%

.dashboard_form_wrapper
    background-color: #0c0c0c
    color: #DFAE17
    padding: 40px 30px
    border-radius: 10px
    margin: 100px auto 80px
    width: 75%

    .headd
        padding: 20px 0

    .req_pickup
        margin-bottom: 30px

    input
        color: #dab247

.dashboard_settings_form_wrapper
    background-color: #0c0c0c
    color: #DFAE17
    padding: 40px 30px
    border-radius: 10px
    margin: 100px auto 80px
    width: 50%

    .headd
        padding: 20px 0

    .req_pickup
        margin-bottom: 30px

    input
        color: #dab247


        

// /Dasboard Styles

// Start of Dashboard History page

.dasboard_history_wrapper_noOrders

    a
        color: #DFAE17
        font-family: nunito
        font-size: 18px
        transition: .5s

        &:hover
            letter-spacing: .7px
            text-decoration: none

    p
        margin: 10px 0
        font-family: nunito
        font-size: 20px

    h4
        font-family: nunito
        font-size: 26px


// End of Dashboard History page

// start of track order page style

.dasboard_track_order
    width: 70%

// End of track order page style

// Start of Active page table style

.dashboard_active_wrapper
    margin: 100px auto 80px
    width: 80%    
    

    table
        width: 100%
        border-radius: 10px
        box-shadow: 0 0 30px rgba(#DFAE17, 0.3)
        font-family: nunito

        th, td
            padding: 20px 25px            
        
        th
            background-color: #DFAE17
            color: #000000            
            text-align: center
            text-transform: uppercase
            font-weight: 500
            font-size: 22px
        
        td
            background-color: #000
            color: #DFAE17
            border-bottom: 1px solid #DFAE17

        tr
            &:nth-child(even)
                background-color: #644a4a


                
            


// End of Active page table style

// Menu Button

.container 
    display: inline-block
    cursor: pointer


.bar1, .bar2, .bar3 
    width: 35px
    height: 5px
    background-color: #DFAE17
    margin: 6px 0
    transition: 0.4s


.change .bar1 
    transform: rotate(-45deg) translate(-9px, 6px)


.change .bar2 
    opacity: 0

.change .bar3 
    transform: rotate(45deg) translate(-8px, -8px)

.toggle_sideNav
    // display: block !important
    width: 250px !important
    transition: width .5s !important
    opacity: 1 !important
    z-index: 1 !important
    height: 100vh !important
    overflow: hidden !important

.toggle_dashboard_body
    // margin-left: 250px !important

.sideNav_link_toggle
    // opacity: 1

// 

