/* General Style */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6, a {
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F2F2F2;
}

@font-face {
  font-family: nunito;
  src: url("../utils/fonts/Nunito/Nunito-SemiBold.ttf");
}

@font-face {
  font-family: speed;
  src: url("../utils/fonts/barbatrick/barbatrick.ttf");
}

@font-face {
  font-family: speed2;
  src: url("../utils/fonts/speed_grams/speed_grams.otf");
}

@font-face {
  font-family: speed3;
  src: url("../utils/fonts/high_speed2/high_speed.ttf");
}

@font-face {
  font-family: speed4;
  src: url("../utils/fonts/bad_coma/bad_coma.ttf");
}

@font-face {
  font-family: speed5;
  src: url("../utils/fonts/cf_glitch_city/CFGlitchCity-Regular.ttf");
}

h1, h2, h3, h4, h5, h6 {
  font-family: circular;
  color: var(--default_black);
}

p, span, h1, h2, h3, h4, h5, h6 {
  font-family: nunito;
}

::-webkit-scrollbar {
  background: transparent;
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  /* background-color: #1ba01f53; */
  background-color: rgba(223, 174, 23, 0.442);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(223, 174, 23, 0.3);
}

input:focus, select:focus, textarea:focus {
  outline: none;
}

.input_div {
  margin: 12px 0;
}

.input_div input, .input_div select, .input_div textarea {
  width: 100%;
  padding: 12px 15px;
  background-color: transparent;
  border: 2px solid #644b00;
  border-radius: 6px;
}

.input_div textarea {
  resize: none;
}

.submit_form_buttom {
  width: 100%;
  border: none;
  background: #000;
  height: 55px;
  border-radius: 6px;
  color: #DFAE17;
  -webkit-transition: background-color .5s, -webkit-transform .3s;
  transition: background-color .5s, -webkit-transform .3s;
  transition: background-color .5s, transform .3s;
  transition: background-color .5s, transform .3s, -webkit-transform .3s;
  cursor: pointer;
}

.submit_form_buttom:hover {
  background-color: #161616;
}

.submit_form_buttom:active {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.submit_form_buttom:focus {
  outline: none;
}

.pickup_form_buttom {
  margin: 40px auto 30px;
  width: 50%;
  border: none;
  background: #DFAE17;
  height: 55px;
  border-radius: 6px;
  color: #000;
  -webkit-transition: background-color .5s, -webkit-transform .3s;
  transition: background-color .5s, -webkit-transform .3s;
  transition: background-color .5s, transform .3s;
  transition: background-color .5s, transform .3s, -webkit-transform .3s;
  cursor: pointer;
}

.pickup_form_buttom:hover {
  background-color: #ac8309;
}

.pickup_form_buttom:active {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.pickup_form_buttom:focus {
  outline: none;
}

.close_form_buttom {
  width: 100px;
  border: none;
  background: #000;
  height: 45px;
  border-radius: 6px;
  color: #DFAE17;
  -webkit-transition: background-color .5s, -webkit-transform .3s;
  transition: background-color .5s, -webkit-transform .3s;
  transition: background-color .5s, transform .3s;
  transition: background-color .5s, transform .3s, -webkit-transform .3s;
  cursor: pointer;
}

.close_form_buttom:hover {
  background-color: #161616;
}

.close_form_buttom:active {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  background-color: #161616;
}

.close_form_buttom:focus {
  outline: none;
}

/* Flex displays */
/* Flex Rows */
.flex_r {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex_r_j_between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex_r_j_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex_r_a_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex_r_j_end_align_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex_r_j_between_align_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex_r_j_start_align_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex_r_j_n_a_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex_r_j_center_a_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

/* /Flex Rows */
/* Flex Columns */
.flex_c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex_c_j_between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex_c_j_center_a_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

/* /Flex Columns */
/* End of Flex Displays */
/* Site Widths */
.full_row {
  width: 100%;
  clear: both;
}

.site_center1 {
  width: 80%;
  margin: 0 auto;
}

/* End of Site widths */
/* Buttons */
/* End of Buttons */
/* End of General Style */
.site_header_section {
  height: 550px;
  background: black;
  overflow: hidden;
  background-color: #000;
  background: -webkit-gradient(linear, left top, left bottom, from(#000000a4), to(#000000a4)), url("../utils/images/q1.jpg");
  background: linear-gradient(#000000a4, #000000a4), url("../utils/images/q1.jpg");
  background-position: top left;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.site_header_section .site_header_left_side {
  padding: 40px 0 40px 40px;
  width: 70%;
  height: 100%;
  z-index: 1000000;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.site_header_section .site_header_left_side .logo_side {
  height: 100%;
}

.site_header_section .site_header_right_side {
  background-color: #DFAE17;
  width: 30%;
  height: 100%;
  padding-bottom: 30px;
  -webkit-clip-path: polygon(55% 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(55% 0, 100% 0, 100% 100%, 0% 100%);
}

.site_header_section .site_header_right_side i {
  margin: 0 15px;
  font-size: 30px;
  cursor: pointer;
  color: #000;
}

.header_form {
  width: 40%;
  padding: 25px;
  overflow: auto;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 30px rgba(136, 119, 22, 0.527);
          box-shadow: 0 0 30px rgba(136, 119, 22, 0.527);
  -webkit-transform: translateX(70%);
          transform: translateX(70%);
  z-index: 1000000;
  background-color: #dfad17f8;
}

.header_form .tracking_form_head {
  margin-bottom: 40px;
}

.header_form .tracking_form_head h4 {
  font-size: 20px;
  color: #000;
}

.track input::-webkit-input-placeholder {
  color: #000;
}

.track input:-ms-input-placeholder {
  color: #000;
}

.track input::-ms-input-placeholder {
  color: #000;
}

.track input::placeholder {
  color: #000;
}

.site_heder_center {
  width: 90%;
  margin-left: 10%;
}

.site_desc_n_form {
  margin: 90px 0;
}

.site_desc div h4 {
  color: #DFAE17;
  font-size: 50px;
  letter-spacing: 10px;
  font-family: speed3;
}

.site_desc div.first h4 {
  color: #fff;
  font-family: speed2;
  letter-spacing: 3px;
}

div[class*="site_section_"] {
  padding: 100px 0;
}

.site_section_two {
  background-color: #000;
}

.site_section_two .features_header {
  color: #DFAE17;
}

.site_section_two .features_header h4 {
  font-size: 40px;
  font-family: candara;
  padding-bottom: 30px;
}

.page_actions {
  padding: 15px 20px;
  border: 1px solid #DFAE17;
  -webkit-box-shadow: 0 0 12px rgba(223, 174, 23, 0.25);
          box-shadow: 0 0 12px rgba(223, 174, 23, 0.25);
  -webkit-transition: .5s;
  transition: .5s;
  border-radius: 6px;
  margin: 0 20px;
  position: relative;
  cursor: pointer;
}

.page_actions::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  background-color: #DFAE17;
  top: 0;
  left: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.page_actions:hover::after {
  height: 4px;
}

.page_actions .action_name {
  padding: 10px 10px 10px 20px;
}

.page_actions h4 {
  color: #DFAE17;
  font-size: 18px;
}

.page_actions p {
  color: #363636;
  font-size: 15px;
  font-weight: 500;
}

.site_section_three {
  background-color: #DFAE17;
}

.map {
  height: 360px;
  margin-top: 15px;
}

.site_section_four {
  background-color: black;
}

.faq_wrapper {
  width: 50%;
  margin: 0 auto;
  overflow: auto;
}

.faq_wrapper .each_faq {
  border-bottom: 1px solid #DFAE17;
  padding: 5px 20px;
}

.faq_wrapper .each_faq .faq_head {
  padding: 15px 0 10px;
  color: #DFAE17;
  cursor: pointer;
}

.faq_wrapper .each_faq .faq_answer {
  color: #6d5304;
  display: none;
  padding: 0 0 20px;
}

.faq_header {
  padding-bottom: 45px;
  color: #DFAE17;
}

.contact_header {
  padding-bottom: 45px;
  color: #000000;
}

.site_footer {
  padding: 25px 50px;
  background-color: #DFAE17;
}

.site_footer .fooet_copyright {
  font-size: 20px;
  color: #000;
}

.site_footer .footer_link {
  margin-right: 30px;
}

.site_footer .footer_link div {
  margin: 0 10px;
}

.site_footer .footer_link div a {
  color: #000;
  font-family: nunito;
  -webkit-transition: .3s;
  transition: .3s;
}

.site_footer .footer_link div a:hover {
  color: #161616;
  text-decoration: none;
}

.site_footer .footer_social i {
  font-size: 26px;
  cursor: pointer;
  margin: 0 9px;
}

.modal {
  z-index: 20000000;
}

#requestPickUp input, #getEstimate input, #login input, #signup input {
  color: #dab247;
}

#requestPickUp .modal-header, #requestPickUp .modal-footer, #getEstimate .modal-header, #getEstimate .modal-footer, #login .modal-header, #login .modal-footer, #signup .modal-header, #signup .modal-footer {
  background-color: #DFAE17;
  color: #000;
}

#requestPickUp .modal-header h4, #requestPickUp .modal-footer h4, #getEstimate .modal-header h4, #getEstimate .modal-footer h4, #login .modal-header h4, #login .modal-footer h4, #signup .modal-header h4, #signup .modal-footer h4 {
  font-size: 18px;
  margin-left: 15px;
}

#requestPickUp .modal-body, #getEstimate .modal-body, #login .modal-body, #signup .modal-body {
  background-color: #0c0c0c;
  color: #DFAE17;
}

#requestPickUp .modal-body .headd, #getEstimate .modal-body .headd, #login .modal-body .headd, #signup .modal-body .headd {
  padding: 20px 0;
}

#requestPickUp .modal-body .req_pickup, #getEstimate .modal-body .req_pickup, #login .modal-body .req_pickup, #signup .modal-body .req_pickup {
  margin-bottom: 30px;
}

.p_pickup span {
  font-weight: 400;
  margin-left: 10px;
  font-size: 15px;
  color: #b38601;
}

.login_links {
  padding-top: 30px;
}

.login_links div {
  margin-left: 15px;
}

.login_links div a {
  color: #000000;
  font-family: nunito;
  -webkit-transition: .3s;
  transition: .3s;
}

.login_links div a:hover {
  color: #353535;
  text-decoration: none;
  letter-spacing: .5px;
}

.signup_n_login_link a {
  margin-left: 12px;
  color: #DFAE17;
  -webkit-transition: .4s;
  transition: .4s;
  font-family: nunito;
}

.signup_n_login_link a:hover {
  color: #b38601;
  text-decoration: none;
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}

.dashboard_side_nav {
  width: 20%;
  background-color: #000000;
  height: 100vh;
  float: left;
  position: fixed;
  -webkit-transition: .5s;
  transition: .5s;
  overflow-x: hidden !important;
}

.dashboard_side_nav .dashboard_logo_div {
  padding: 40px 0;
}

.sideNav_link, .side_nav_footer {
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.sideNav_link a, .side_nav_footer a {
  border-left: 4px solid transparent;
  display: block;
  padding: 15px 10px 15px 20px;
  color: #DFAE17;
  -webkit-transition: .4s;
  transition: .4s;
  font-family: nunito;
  font-size: 20px;
}

.sideNav_link a:hover, .side_nav_footer a:hover {
  border-left-color: #DFAE17;
  text-decoration: none;
  letter-spacing: .4px;
  background-image: -webkit-gradient(linear, left top, right top, from(black), color-stop(black), to(#dfad171a));
  background-image: linear-gradient(to right, black, black, #dfad171a);
}

.sideNav_link a i, .side_nav_footer a i {
  margin-right: 10px;
}

.side_nav_footer {
  border-top: .3px solid #DFAE17;
  margin-top: 90px;
}

.dashoard_body {
  width: 80%;
  float: left;
  margin-left: 20%;
  -webkit-transition: .5s;
  transition: .5s;
}

.dashboard_header {
  padding: 20px 15px;
  -webkit-box-shadow: 0 10px 30px rgba(223, 173, 23, 0.286);
          box-shadow: 0 10px 30px rgba(223, 173, 23, 0.286);
  background-color: #fff;
}

.dashoard_body2 {
  width: 100%;
  height: calc( 100vh - 40px);
}

.dasboard_bodywrapper {
  width: 95%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  grid-gap: 20px 20px;
}

.dasboard_bodywrapper > a > div[class*='card_'] {
  padding: 50px 35px;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
  color: #858585;
  -webkit-transition: .7s;
  transition: .7s;
  cursor: pointer;
  background-color: #000000;
  text-decoration: none;
}

.dasboard_bodywrapper > a > div[class*='card_'] .card_middle {
  margin: 35px 0;
}

.dasboard_bodywrapper > a > div[class*='card_'] .card_bottom img {
  width: 100px;
  height: 20px;
}

.dasboard_bodywrapper > a > div[class*='card_']:hover {
  background-color: #111;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.dasboard_bodywrapper > a {
  text-decoration: none;
}

.dasboard_bodywrapper > a:hover {
  text-decoration: none;
}

.dashboard_actions {
  border-radius: 9px;
  -webkit-box-shadow: 0 0 16px rgba(223, 173, 23, 0.397);
          box-shadow: 0 0 16px rgba(223, 173, 23, 0.397);
  background-color: #000000;
  border: 1px solid #DFAE17;
  margin-bottom: 30px;
  margin-right: 50px;
}

.dashboard_actions .dashboard_actions_header {
  border-radius: 9px 9px 0 0;
  padding: 30px;
}

.dashboard_actions .dashboard_actions_img {
  width: 280px;
  height: 160px;
}

.dashboard_actions .dashboard_actions_img img {
  width: 100%;
  height: 100%;
}

.dashboard_form_wrapper {
  background-color: #0c0c0c;
  color: #DFAE17;
  padding: 40px 30px;
  border-radius: 10px;
  margin: 100px auto 80px;
  width: 75%;
}

.dashboard_form_wrapper .headd {
  padding: 20px 0;
}

.dashboard_form_wrapper .req_pickup {
  margin-bottom: 30px;
}

.dashboard_form_wrapper input {
  color: #dab247;
}

.dashboard_settings_form_wrapper {
  background-color: #0c0c0c;
  color: #DFAE17;
  padding: 40px 30px;
  border-radius: 10px;
  margin: 100px auto 80px;
  width: 50%;
}

.dashboard_settings_form_wrapper .headd {
  padding: 20px 0;
}

.dashboard_settings_form_wrapper .req_pickup {
  margin-bottom: 30px;
}

.dashboard_settings_form_wrapper input {
  color: #dab247;
}

.dasboard_history_wrapper_noOrders a {
  color: #DFAE17;
  font-family: nunito;
  font-size: 18px;
  -webkit-transition: .5s;
  transition: .5s;
}

.dasboard_history_wrapper_noOrders a:hover {
  letter-spacing: .7px;
  text-decoration: none;
}

.dasboard_history_wrapper_noOrders p {
  margin: 10px 0;
  font-family: nunito;
  font-size: 20px;
}

.dasboard_history_wrapper_noOrders h4 {
  font-family: nunito;
  font-size: 26px;
}

.dasboard_track_order {
  width: 70%;
}

.dashboard_active_wrapper {
  margin: 100px auto 80px;
  width: 80%;
}

.dashboard_active_wrapper table {
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 30px rgba(223, 174, 23, 0.3);
          box-shadow: 0 0 30px rgba(223, 174, 23, 0.3);
  font-family: nunito;
}

.dashboard_active_wrapper table th, .dashboard_active_wrapper table td {
  padding: 20px 25px;
}

.dashboard_active_wrapper table th {
  background-color: #DFAE17;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 22px;
}

.dashboard_active_wrapper table td {
  background-color: #000;
  color: #DFAE17;
  border-bottom: 1px solid #DFAE17;
}

.dashboard_active_wrapper table tr:nth-child(even) {
  background-color: #644a4a;
}

.container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #DFAE17;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
          transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
          transform: rotate(45deg) translate(-8px, -8px);
}

.toggle_sideNav {
  width: 250px !important;
  -webkit-transition: width .5s !important;
  transition: width .5s !important;
  opacity: 1 !important;
  z-index: 1 !important;
  height: 100vh !important;
  overflow: hidden !important;
}
/*# sourceMappingURL=main.css.map */