
@media only screen and (max-width: 1175px) {
    .dashboard_form_wrapper {
        width: 85%;
    }
}

@media only screen and (max-width: 1110px) {
    .dasboard_bodywrapper > a > div[class*='card_'] {
        padding: 40px 25px;
    }

    .card_middle {
        margin: 30px 0;
    }

    .card_middle h5 {
        font-size: 1rem;
    }

    .dashboard_logo_div img {
        width: 130px;
        height: 30px;
    }

    .sideNav_link a, .side_nav_footer a {
        font-size: 16px;
    }
}

@media only screen and (max-width: 1040px) {
    .dashboard_form_wrapper {
        width: 90%;
    }
}

@media only screen and (max-width: 995px) {
    .dashboard_active_wrapper {
        margin: 100px auto 80px;
        width: 90%;
    }
}

@media only screen and (max-width: 910px) {
    .header_form {
        transform: translateX(60%)
    }

    .site_desc_n_form {
        margin: 60px 0;
    }
}

@media only screen and (max-width: 900px) {
    .site_heder_center {
        width: 95%;
        margin-left: 5%;
    }



    
}

@media only screen and (max-width: 875px) {
    .dashboard_side_nav {
       /* transform: translateX(-100%); */
       width: 0;
       /* opacity: 0; */
    }

    .dashoard_body {
        width: 100%;
        margin-left: 0;
    }
}

@media only screen and (max-width: 840px) {
    .site_desc_n_form {
        flex-direction: column;
    }

    .site_header_section {
        height: 800px;
    }

    .header_form {
        transform: translateX(0);
        /* display: none; */
        width: 60%;
        margin: 40px auto 0 auto;
    }

    .site_header_section {
        /* background-attachment: scroll; */
    }

    .site_header_section .site_header_right_side {
        display: none;
    }

    .site_header_section .site_header_left_side {
        width: 100%;
        padding: 20px;
    }
}

@media only screen and (max-width: 769px) {
    .mobile_pickup_view .input_div input {
        margin: 10px auto;
    }
}

@media only screen and (max-width: 745px) {
    .ft_wrapper {
        flex-direction: column;
    }

    .ft_wrapper > div {
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 740px) {
    .site_footer {
        flex-direction: column-reverse;    
        
    }

    .site_footer > div {
        flex-direction: column;
        
        margin-bottom: 30px;
    }

    .footer_link {
        flex-direction: column;
        text-align: center;
        margin-right: 0 !important;
        margin-bottom: 20px;
    }

    .faq_wrapper {
        width: 80%;
        /* margin: 0 auto;
        height: 300px; */
    }
}

@media only screen and (max-width: 730px) {
    .dashboard_active_wrapper {
        overflow-x: scroll;
    }

    .dashboard_active_wrapper table td,
    .dashboard_active_wrapper table td {
        padding: 12px 8px;
        text-align: center;
    }
}

@media only screen and (max-width: 707px) {
    .dasboard_bodywrapper {
        grid-template-columns: auto auto;
    }

    .dashboard_settings_form_wrapper {
        width: 80%;
    }
}

@media only screen and (max-width: 563px) {

    .header_form {
        transform: translateX(0);
        /* display: none; */
        width: 90%;
        margin: 40px auto 0 auto;
    }

}

@media only screen and (max-width: 500px) {
    .dasboard_bodywrapper {
        grid-template-columns: auto;
    }

    .dash_home {
        margin: 80px 0;
    }
}

@media only screen and (max-width: 455px) {
    
    .dashboard_settings_form_wrapper {
        width: 90%;
    }

    .mobile_form {
        
    }
}

@media only screen and (max-width: 395px) {
    
    .dashboard_settings_form_wrapper {
        width: 90%;
    }
}